*.a
*.o
*.d
*.so
*.ts
*.tsa
*.inn
a.wasm
DESCRIPTION
Makefile
Makedeps
Makeconf
Makefrag.cc
Makefrag.cc_lo
Makefrag.cxx
Makefrag.m

bin/
config.log
config.status
doc/NEWS.2.rds
doc/NEWS.3.rds
doc/NEWS.rds
doc/R.1
doc/Rscript.1
doc/html/index.html
doc/manual/R-FAQ.html
doc/manual/R-admin.html
doc/manual/R-data.html
doc/manual/R-exts.html
doc/manual/R-intro.html
doc/manual/R-ints.html
doc/manual/R-lang.html
doc/manual/stamp-images-html
doc/manual/version.texi
etc/Renviron
etc/javaconf
etc/ldpaths
include/
library/
libtool
share/zoneinfo/
src/extra/intl/charset.alias
src/extra/intl/charsetalias.h
src/extra/intl/libgnuintl.h
src/include/R_ext/stamp-R
src/include/Rconfig.h
src/include/Rmath.h
src/include/Rmath.h0
src/include/Rversion.h
src/include/config.h
src/include/libintl.h
src/include/stamp-R
src/include/stamp-h
src/library/base/all.R
src/library/compiler/all.R
src/library/grDevices/all.R
src/library/graphics/all.R
src/library/grid/all.R
src/library/methods/all.R
src/library/parallel/all.R
src/library/splines/all.R
src/library/stamp-docs
src/library/stats/all.R
src/library/stats4/all.R
src/library/tools/all.R
src/library/utils/all.R
src/main/R.bin
src/main/R.wasm
src/modules/lapack/la_constants.mod
src/modules/lapack/la_xisnan.mod
src/scripts/R.fe
src/scripts/R.sh
src/scripts/Rcmd
src/scripts/javareconf
src/scripts/mkinstalldirs
src/scripts/pager
src/scripts/rtags
src/unix/Rscript
src/unix/Rscript.wasm
stamp-java